aux-md5sums
*.aux
draft.bbl
draft.bcf
draft.blg
draft.log
draft.out
draft.run.xml
draft.toc
final.auxlock
final.bbl
final.blg
final.brf
final.log
final.lol
final.out
final.toc
.dummy.tex
final.bcf
final.run.xml
D????R?.pdf
D????R?_draft.pdf
D????R?_mobile.pdf
P????R?.pdf
P????R?_mobile.pdf
.stamp
.stamp.new
mobile.bbl
mobile.bcf
mobile.blg
mobile.log
mobile.out
mobile.run.xml
mobile.toc
._*
