aux-md5sums
final.aux
final.auxlock
final.bbl
final.blg
final.brf
final.log
final.lol
final.out
final.toc
.dummy.tex
final.bcf
final.run.xml
D4XXX.pdf
.stamp
.stamp.new
mobile.aux
mobile.bbl
mobile.bcf
mobile.blg
mobile.log
mobile.out
mobile.run.xml
mobile.toc
